<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
        <title>Land of Fire</title>
    </head>
    <body class="{{ current }}">
        <header>
            <hgroup class="title">
                <h1>Land of Fire</h1>
                <h2>Free and Open Source Fantasy/Steampunk MMORPG</h2>
            </hgroup>
            <nav>
            {%- for page in pages %}
                <a href="{% if page.external == True %}{{ page.url }}{% else %}{{ url_for(page.ref) }}{% endif %}"
                        {%- if page.ref == current %} class="current"{% endif %}>
                    {{- page.title -}}
                </a>
            {%- endfor %}
            </nav>
        </header>

        <div class="columns">

            {% block main %}
            {% endblock %}

            {%- block sidebar %}
            <div class="news sidebar">
                <h2>Game News</h2>
                {%- for section in news %}
                {# We intentionally do not display title elements! #}
                {%- if section[0] == 'normal' %}
                    <p class="quote">{{ section[1] }}</p>
                {%- elif section[0] == 'author' %}
                    <p class="author">{{ section[1] }}</p>
                {%- elif section[0] == 'list' %}
                <h3>{{ section[1] }}</h3>
                <ul>
                    {%- for entry in section[2] %}
                    <li>{{ entry }}</li>
                    {%- endfor %}
                </ul>
                {%- endif %}
                {%- endfor %}
            </div>

            <div class="online sidebar">
                {%- if online.count %}
                <h2>Who's Online ({{online.count}} total):</h2>
                {%- else %}
                <h2>No one is online.</h2>
                {%- endif %}
                {%- if online.devs %}
                <p>{{ online.devs|count }} {{ "Dev"|plural(online.devs|count) }}</p>
                <ul>
                {%- for player in online.devs %}
                    <li>{{ player }}</li>
                {%- endfor %}
                </ul>
                {%- endif %}

                {%- if online.gms %}
                <p>{{ online.gms|count }} {{ "GM"|plural(online.gms|count) }}</p>
                <ul>
                {%- for player in online.gms %}
                    <li>{{ player }}</li>
                {%- endfor %}
                </ul>
                {%- endif %}

                {%- if online.players %}
                <p>{{ online.players|count }} {{ "Player"|plural(online.players|count) }}</p>
                <ul>
                {%- for player in online.players %}
                    <li>{{ player }}</li>
                {%- endfor %}
                </ul>
                {%- endif %}

                {%- if online.bots %}
                <p>{{ online.bots|count }} {{ "LOFBot"|plural(online.bots|count) }}</p>
                <ul>
                {%- for player in online.bots %}
                    <li>{{ player }}</li>
                {%- endfor %}
                </ul>
                {%- endif %}
            </div>
            {%- endblock %}
        </div>
        <footer>
        </footer>
    </body>
</html>
