{% extends "base.html" %}
{% block title %}Donations{% endblock %}
{% block main %}
    <h2>Donations</h2>
    <p>Land of Fire is a completely free game to play, but it takes money to keep our domain and servers up.
       Donations don't go to the LoF team, but instead are all used to help keep the game available to play.
       At this time, the sole reward for donation is being listed in the donor credits below.</p>
    <p><a href="http://tinyurl.com/blzw38x" target="_blank" class="big dark-button" style="margin-top: 15px">Contribute through PayPal</a></p>
    <h3>Donors:</h3>
    <ul>
        <li>tater</li>
        <li>KeeKeeKat</li>
        <li>Pyndragon</li>
    </ul>
{% endblock %}
