{% extends "base.html" %}
{% block main %}
   <h2>Welcome to TMW-LoF V2!</h2>
   <p>Meet new people and team up to fight monsters and complete quests!</p>
   <p>Currently, Land of Fire (LoF) is a mutant clone of <a href="http://themanaworld.org/" target=_Blank">The Mana World</a>,
      with new maps, quests, monsters, and items.</p>
   <p>The game is free to play and open source.</p>
   <p>We use the <a href="http://manaplus.org/" target=_Blank">ManaPlus client</a>, which is available for Windows, Linux, OSX, Android, Fire OS, and Chrome.
      To play on our server, launch ManaPlus and choose Land of Fire from the list of available servers.</p>
   <p>Land of Fire plans on building an entirely new Steampunk MMO,
      feel free to look at our project page for details and more information on development.</p>
   <p>Join us in <a href="{{ url_for('irc') }}">our IRC Channel</a>!</p>
{% endblock %}
