{% extends "base.html" %}
{% block main %}
<p>Meet new people and team up to fight monsters and complete quests!</p>
<p>Currently Land of Fire (LoF) is a mutant clone of The Mana World with new quests, monsters, and items.</p> 
<p>The game is free to play and open source.</p>
<p>We use the <a href="http://manaplus.org/" target=_Blank">ManaPlus client</a>; 
   to play on our server, launch the client and choose Land of Fire from the list of available servers.</p>
<p>Land of Fire plans on building an entirely new Steampunk MMO, 
   feel free to look at our project page for details and more information on development.</p>
<p>Join us at <a href="{{ url_for('irc') }}">our IRC Channel</a>!</p>
{% endblock %}