{% extends "base.html" %}
{% block main %}
    <h2>Project</h2>
    <p>Land of Fire consists of two projects: one currently playable, and one still in early stages of development.</p>
    <h3>LoF/tmwA</h3>
    <p>LoF/tmwA, also known as "LoF v1" or "LoF/TMW", is a currently playable MMORPG project.
       As a fork of <a href="http://themanaworld.org/" target=_Blank">The Mana World</a>,
       LoF/tmwA and TMW continue to use the same server software (tmwAthena) and client (ManaPlus);
       however, the direction and focus of the two projects are very different.
       The fantasy theme of TMW continues to predominate in this project, although some steampunk-flavored content has been added.
       We strive to make LoF/tmwA a project and gameworld with a cooperative Players versus Environment bent and a friendly, family-sensitive atmosphere.</p>
    <p>Interested in contributing? LoF/tmwA is an open-source project, and we'd love to add more developers, artists, and mappers.
       You can post concepts in the Forum for discussion, or tackle pre-existing tasks.
       LoF/tmwA has a <a href="https://tree.taiga.io/project/pydsigner-land-of-fire-tmwa">Taiga taskboard</a>,
       and <a href="https://github.com/Pihro/lof-tmwa-client-data">client-side</a>
       and <a href="https://github.com/Pihro/lof-eathena-data">server-side</a> development taking place on GitHub.</p>
    <p>Most of LoF/tmwA's content is licensed under the GPLv2, with some artwork falling under the CC BY SA 3.0 license.</p>
    <h3>LoF Steampunk</h3>
    <p>LoF Steampunk, also variously referred to as "Future LoF" or "LoF v2", is an all-new open-source MMORPG project.
       This project includes a re-thought client and server, both planned to be written in Python, and will involve much more depth.
       Player-choice-driven class advancement, skill trees, and customizable attack strategies will all be required to take down more intelligent mobs.
       Maps will still be created using the excellent <a href="http://www.mapeditor.org">Tiled</a> map editor.</p>
    <p>While the project is still in early planning mode, lots of new content, art, and lore will be needed, so feel free to make suggestions.
       You can open issues on the <a href="https://github.com/landoffire/lof-content">content repository</a> or take a look at the <a href="https://tree.taiga.io/project/pydsigner-land-of-fire">Taiga page</a>.</p>
    <p>The LoF Steampunk client and server will be released under the Apache 2.0 license, while content will be released under the CC BY SA.</p>
{% endblock %}
