{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block main %}
    <h2>Land of Fire Team</h2>
    <p>These people have helped make LoF possible.</p>
    <h3>Current team members:</h3>
    <ul>
        <li>Pihro - project lead, founder</li>
        <li>Pyndragon - lead developer, host, website coder</li>
        <li>Ozthokk - artist</li>
        <li>Billr - artist/mapper</li>
        <li>lavender - artist/mapper</li>
        <li>Solo - mapper</li>
        <li>MrsSolo - GM</li>
        <li>BunnyBear - GM</li>
        <li>Cordo - GM</li>
    </ul>
    <h3>Past team members:</h3>
    <ul>
        <li>KeeKeeKat - lead GM, co-founder, host</li>
        <li>DingoDuck - development/scripting</li>
        <li>BronzeEagle - server admin assistance</li>
        <li>Pyro - website, forum, icon branding</li>
        <li>Kirua - manaserv</li>
        <li>Pluto - quest scripting</li>
        <li>Munkar - art</li>
    </ul>
    <h3>Special thanks:</h3>
    <ul>
        <li>Itchy Demon - email setup, content upgrade assistance</li>
    </ul>
{% endblock %}
